<template name="layout">
    <h1>Dupper</h1>
    <ul>
        <li>{{> loginButtons}}</li>
    </ul>

    <div class="container">
        {{#if currentUser}}
        <form class="config-form">
            <label>Git Project:</label>
            <select class="gitPrjs" name="gitPrjs">
                {{#each gitPrjNames}} {{> userGitPrjName}} {{/each}}
            </select>
            <label>Docker Configuration:</label>
            <textarea name="dockerConfig" rows="4" cols="50">{{dockerCfg}}</textarea>

            <label>Build Configuration:</label>
            <textarea name="buildConfig" rows="4" cols="50">{{buildCfg}}</textarea>

            <input type="submit" value="Update">
        </form>
        {{/if}}
    </div>
</template>

<template name="userGitPrjName">
    <option>{{ name}}</option>
</template>
